* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Blinker', sans-serif;
    background-color: rgb(218, 218, 218);
}
.row {
    width: 80%;
    margin: 0 auto;
}
.txt-box {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.heading {
    text-transform: uppercase;
    font-size: 75px;
}
.sub-heading {
    text-transform: uppercase;
    font-size: 25px;
}
.main-btn {
    margin: 10px;
}
.form-hold {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}
footer {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 40px;
}
footer p {
    text-align: center;
    font-size: 16px;
}
label {
    font-size: 24px;
}
.form-input {
    width: 50%;
    font-size: 24px;
}
.form-submit {
    font-size: 18px;
    margin: 10px 0;
    background-color: #fff;
    padding: 2px 5px;
}
.form-submit:hover {
    cursor: pointer;
}
.main-btn:active,
.main-btn:visited {
    color: blue;
}
.btn:active,
.btn:visited{
    color: blue;
}
.logo {
    font-size: 30px;
    margin-top: 10px;
    display: inline-block;
}
.form-textarea {
    height:200px;
    resize:none;
}
.item-hold {
    float: right;
    margin-top: 30px;
}
.nav-item {
    margin-left: 10px;
}
.post-hold {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.925);
    padding: 20px;
    border-radius: 2px;
    margin-top: 30px;
    overflow:hidden;
}
.post-title {
    font-weight: 300;
}
.post-content {
    font-size: 24px;
}
.full-post-title {
    font-size: 55px;
    font-weight: 300;
}
.full-post-content {
    font-weight: 300;
    font-size: 26px;
}
@media(max-width: 600px){
    .item-hold {
        width: 100%;
        float:none;
    }
    .post-content {
        font-size: 22px;
    }
    .post-hold {
        width: 80%;
        margin: 10px auto;
    }
    .nav-item {
        display: block;
        margin: none;
        margin-top: 10px;
    }
    .form-input {
        width: 100%;
    }
    .row {
        width: 95%;
    }
    .form-hold {
        width: 95%;
    }
}